<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About us</title>
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font/css/all.min.css">
  <style>
    a {
      color: white;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <header class="p-2 bg-primary text-white d-flex align-items-center justify-content-around">
    <div>
      <a href="/">
        <h1>JODECI</h1>
      </a>
    </div>
    <div class="d-flex align-items-center justify-content-around">
      <p class="me-2 btn btn-outline-light"><a href="/home">Home <i class="fas fa-home"></i></a></p>
      <p class="me-2 btn btn-outline-light"><a href="/add">Add item <i class="fas fa-plus"></i></a></p>
    </div>
  </header>
  <main class="my-5 container">
    <h5>This system is build with these technologies below:</h5>
    <p><b>Front end</b></p>
    <ol>
      <li>EJS</li>
      <li>CSS</li>
      <li>Bootstrap</li>
      <li>Font awesome</li>
    </ol>

    <p><b>Back end</b></p>
    <ol>
      <li>NodeJS</li>
      <li>ExpressJS</li>
      <li>EJS</li>
      <li>Multer</li>
    </ol>

    <p><b>Database</b></p>
    <ol>
      <li>MongoDB</li>
    </ol>
  </main>
</body>

</html>