<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing page</title>
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font/css/all.min.css">
  <script src="js/main.js" defer></script>
  <style>
    header {
      background: rgba(0, 0, 0, .2);
      width: 100%;
      height: calc(100vh - 70px);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    main {
      width: auto;
    }

    footer {
      margin-bottom: -1rem;
    }

    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <header class="p-4  d-flex justify-content-center align-items-center">
    <a href="/">
      <h1 class="text-danger">JODECI</h1>
    </a>
  </header>
  <main class="text-center my-5 container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A unde, asperiores sint ipsam minima incidunt quam quia
      natus vel repudiandae placeat accusamus repellat sit dicta. Aliquam iusto ratione corporis sunt.</p>
    <button class="btn btn-primary">View <i class="fas fa-arrow-right"></i></button>
  </main>
  <footer class="text-center mt-5 d-flex align-items-center flex-column justify-content-center">
    <h6>Powered by Hi-Tech</h6>
    <p>&copy; 2022</p>
  </footer>
</body>

</html>